body {
    margin: 0;
    font-family: "Poppins", Sans-serif;
}

/*fix css */
.buy {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: normal 700 14px / 24px "Roboto", Helvetica, Arial, Verdana, sans-serif;
    margin-bottom: 100px;
}
.button-buy {
    text-align: center;
    background-color: green;
    font-size:15px;
    font-weight: bold;
    text-decoration: none;
    color: white;  
    border-radius: 10px;
    padding: 14px;
}
.button-buy:hover {
    transform: scale(1.1);
}
.breathing {   
    width: 100%; 
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #23639D;
}
.breathing-title {
    background-color: #4BADE2;
    color: white;
    font-size: 35px;
    font-weight: bold;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-size: 42px;
}
h2 {
    text-align: center;
    font-size: 30px;
}

/*parts  */
header {
    display: flex;
    justify-content: center;
}

.img {
    width: 1050px;
    height: 250px;
    background:url("../images/alquimia\ azul\ responsivo.jpeg") no-repeat;
    background-size:contain;
    background-position: center;
}



.intro {
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.intro-left,
.intro-right {
    flex:1;
}
.intro-right {
    margin-left: 70px;
    margin-right: 50px;
}
.intro-left {
    margin-left: 50px;
}
ul.title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.1;
    color: #2C3E50;
}
.title li {
    margin-top: 15px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
}
span { 
    color:#4BADE2;
}


.explanation p {
    text-align: center;
    font-size: 28px;
    line-height: 35px;
}
.explanation img {
    width: 800px;
    height: 700px;
}
.respiracao {
    font-size: 45px;
    font-weight: 700;
}
.explanation p {
    text-align: center;
}
blockquote {
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}
.explanation h2 {
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
}



.breathing.benefits {
    width: 100vw; /*para responsividade, ocupará toda tela*/
    max-width: 1140px; /*se monitor for muito grande, usará no máximo isto*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.breathing-benefit {
    display: flex;
    flex-direction: row;
    width: 310px;
    height: 330px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 8%);
}
.breathing-benefit a {
    margin: 30px;
    width: 55px;
    height: 55px;  
    text-decoration: none;  
}
.breathing-benefit img {
    margin-top: 26px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.breathing-benefit h1 {
    font-size: 30px;
    text-align: left;
}
.breathing-benefit h2 {
    font-size: 18px;
    text-align: left;
}

.breathing.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.video-testimonial {
    margin: 50px;
}


.breathing.course-content {
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.week {
    width: 370px;    
    height: 330px;
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 8%);
}
.week img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.week-ul {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
}
.week li {
    font-size: 19px;
    line-height: 1.6;
    font-weight: 500;
}

.breathing.the-teacher {
    flex-direction: row;
    background-color: #2C3E50;
    max-width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.the-teacher img {
    margin: 80px;
    width: 450px;
    height: 450px;
}
.breathing .resume {
    color: #ecf0f1;
    margin-left: 50px;
    margin-right: 120px;
}
.breathing .resume h1 {
    font-size: 28px;
    font-family: 'open-sans';
    margin-bottom: 45px;
    text-align: left;
}
.breathing .resume h2 {
    font-size: 20px;
    line-height: 160%;
    font-weight: 300;
    text-align: left;
}

.breathing.investiment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.investiment-left,
.investiment-right {
    flex:1;
    padding: 100px;
}
.investiment-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.8;
    font-size: 16px;
}
.investiment-left img {
    width: 350px;
    height: 350px;
    margin-left: 50px;
}
.investiment-right {
    padding: 30px;
    line-height: 1.8;
    font-size: 20px;
    font-weight: 600;
}
.investiment-right li {
    margin-left: 5px;
}
.investiment-right-div  {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.investiment-right-div .button-buy {
    width: 300px;
}


.breathing.faq {
    width: 100%;
    max-width: 1140px;
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
}
.FAQS {
    width: 420px;
    padding: 30px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 8%);
    margin: 10px;
}
.FAQS h1 {
    color:#161E2A;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.FAQS h2 {
    color: #848484;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}
.FAQS a {
    text-decoration: none;
}

.breathing.cta {
    background-color: #2C3E50;
    color: white;
    max-width: 100%;
    overflow: hidden;
}
.breathing.cta h2 {
    font-size: 20px;
    line-height: 160%;
}
.breathing .button-buy {
    margin-top: 50px;
    margin-bottom: 30px;
}

.breathing.doubts {
    background-image: url(../images/background\ meditacao.jpg);
    background-position: center;
    background-size:cover;
    height: 270px;
    max-width: 100%;
    color: rgb(95, 90, 90);
}
.button-doubt {
    text-align: center;
    background-color: green;
    font-size:15px;
    font-weight: bold;
    text-decoration: none;
    color: white;  
    border-radius: 10px;
    padding: 14px;
    margin: 50px;
}


@media (min-width:1500px) {
    .intro {
        margin-top: 50px;
        max-width: 1340px;
        margin: auto;
        display:flex;
    }

}

@media (min-width:851px) and (max-width:1008px) { 

    .intro-left {
        margin-left: 20px;
    }
    .intro-right iframe {
        width: 460px;
    }

    ul.title {
        font-size: 24px;        
    }
    .title li {
        font-size: 20px;
    }

    .breathing.explanation {
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }

    .breathing.testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .breathing .resume {
        color: #ecf0f1;
        margin-left: 20px;
        margin-right: 0px;
    }
    .the-teacher img {
        margin: 50px;
        width: 450px;
        height: 450px;
    }

    .investiment-left,
    .investiment-right {
    padding: 30px;
    }


    .breathing.faq {
        display: flex;    
        flex-direction: column;
        justify-content: center;
    }
    .FAQS {
        width: 480px;
    }
}

@media (min-width:651px) and (max-width:850px) {

    .img {
        width: 1050px;
        height: 250px;
        background:url("../images/alquimia\ azul.jpeg") no-repeat;
        background-size:contain;
        background-position: center;
    }
    .intro-left {
        margin-left: 15px;
    }  
    .intro-right iframe {
        width: 400px;
    }
    ul.title {
        font-size: 22px;        
    }
    .title li {
        font-size: 18px;
    }

    
    .breathing.explanation {
        margin-right: 20px;
        margin-left: 20px;
        width: auto;
    }
    .breathing.explanation img {
        max-width: 100%;
        height: auto;
    }

    .breathing.testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .breathing.the-teacher{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .breathing .resume {
        color: #ecf0f1;
        margin-left: 20px;
        margin-right: 20px;
    }

    .breathing.investiment {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .investiment-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .investiment-left img {
        margin-right: 30px;
    }
    

    .breathing.faq {
        display: flex;    
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width:651px) {

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
    .img {
        width: 1050px;
        height: 250px;
        background:url("../images/alquimia\ azul.jpeg") no-repeat;
        background-size:contain;
        background-position: center;
    }
    .intro-left {
        margin-left: 0px;
        margin-bottom: 30px;
    }  
    .intro-right iframe {
        width: 350px;
    }
    ul.title {
        font-size: 24px;        
    }
    .title li {
        font-size: 18px;
    }

    .breathing.explanation img {
        max-width: 100%;
        height: auto;
    }
    .breathing.explanation {
        margin-right: 10px;
        margin-left: 10px;
        width: auto;
    }

    .breathing.testimonial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }
    .video-testimonial {
        width: 340px;
    }

    .breathing.the-teacher{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
    .breathing .resume {
        color: #ecf0f1;
        margin-left: 20px;
        margin-right: 20px;
    }
    .the-teacher img {
        width: 320px;
        height: 320px;
    }


    .breathing.investiment {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .investiment-left,
    .investiment-right {
        width: 320px;
    }
    .investiment-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .investiment-left img {
        margin-right: 30px;
        width: 320px;
    }

    .week {
        height: 380px;
    }


    .breathing.faq {
        display: flex;    
        flex-direction: column;
        justify-content: center;
    }

    .FAQS {
        width: 310px;
        padding: 0;
    }

    .button-doubt {        
        margin: 20px;
    }

}